body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('codioful-formerly-gradienta-LeG68PrXA6Y-unsplash.jpg');
  background-repeat: no-repeat;
  /* This will prevent the image from repeating in case it's too small for the container */
  background-size: cover;
  /* This will make the image cover the entire viewport */
  background-position: center center;
  /* This will center the image in the viewport */
  background-attachment: fixed;
  /* This ensures the image remains fixed while scrolling */
}

.is-opaque {
  background-color: rgba(200, 200, 200, 0.4); /* White with 70% opacity */
}



.main-content {
  flex: 1;

}

.reduced-padding {
  padding: 1rem;
}