<!-- <%- include("templates/header") %>  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Index Page</title>
</head>
<body>
    <header>
        <h1>COMP 3921 Assignemnt 1</h1>
        <p>BASIC CSS FOR NOW -> OTHER CSS IN OTHER BRANCH - HOME PAGE FOR COMP 3921 - BRYAN - EJS WORKS - LOCAL SERVER WORKS - MONGODB WORKS</p>
    </header>

    <main>
        <a href="/signup" class="button">Sign up</a>
        <a href="/login" class="button">Login</a>
    </main>
</body>
</html>
<%- include("templates/footer") %> 